<!DOCTYPE html>
<html lang="en">
<!-- <head> -->
  <%- include("./partials/head") %>
<!-- </head> -->
<body>
  <!-- <header> -->
    <!-- </header> -->
    
    <br><br><br>
    <%- include("./partials/about") %>
    <%- include("./partials/header") %>
    <%- include("./partials/var") %>

    <section class="wtsp">
      <a href="https://api.whatsapp.com/send/?phone=%2B+54 9 11 4191-2226&text=Hola%2C+%C2%BFComo+est%C3%A1n%3F+Quisiera+solicitar+asesoramiento.+Muchas+gracias.&type=phone_number&app_absent=0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 175.216 175.552"><defs><linearGradient id="b" x1="85.915" x2="86.535" y1="32.567" y2="137.092" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#57d163"/><stop offset="1" stop-color="#23b33a"/></linearGradient><filter id="a" width="1.115" height="1.114" x="-.057" y="-.057" color-interpolation-filters="sRGB"><feGaussianBlur stdDeviation="3.531"/></filter></defs><path fill="#b3b3b3" d="m54.532 138.45 2.235 1.324c9.387 5.571 20.15 8.518 31.126 8.523h.023c33.707 0 61.139-27.426 61.153-61.135.006-16.335-6.349-31.696-17.895-43.251A60.75 60.75 0 0 0 87.94 25.983c-33.733 0-61.166 27.423-61.178 61.13a60.98 60.98 0 0 0 9.349 32.535l1.455 2.312-6.179 22.558zm-40.811 23.544L24.16 123.88c-6.438-11.154-9.825-23.808-9.821-36.772.017-40.556 33.021-73.55 73.578-73.55 19.681.01 38.154 7.669 52.047 21.572s21.537 32.383 21.53 52.037c-.018 40.553-33.027 73.553-73.578 73.553h-.032c-12.313-.005-24.412-3.094-35.159-8.954zm0 0" filter="url(#a)"/><path fill="#fff" d="m12.966 161.238 10.439-38.114a73.42 73.42 0 0 1-9.821-36.772c.017-40.556 33.021-73.55 73.578-73.55 19.681.01 38.154 7.669 52.047 21.572s21.537 32.383 21.53 52.037c-.018 40.553-33.027 73.553-73.578 73.553h-.032c-12.313-.005-24.412-3.094-35.159-8.954z"/><path fill="url(#linearGradient1780)" d="M87.184 25.227c-33.733 0-61.166 27.423-61.178 61.13a60.98 60.98 0 0 0 9.349 32.535l1.455 2.312-6.179 22.559 23.146-6.069 2.235 1.324c9.387 5.571 20.15 8.518 31.126 8.524h.023c33.707 0 61.14-27.426 61.153-61.135a60.75 60.75 0 0 0-17.895-43.251 60.75 60.75 0 0 0-43.235-17.929z"/><path fill="url(#b)" d="M87.184 25.227c-33.733 0-61.166 27.423-61.178 61.13a60.98 60.98 0 0 0 9.349 32.535l1.455 2.313-6.179 22.558 23.146-6.069 2.235 1.324c9.387 5.571 20.15 8.517 31.126 8.523h.023c33.707 0 61.14-27.426 61.153-61.135a60.75 60.75 0 0 0-17.895-43.251 60.75 60.75 0 0 0-43.235-17.928z"/><path fill="#fff" fill-rule="evenodd" d="M68.772 55.603c-1.378-3.061-2.828-3.123-4.137-3.176l-3.524-.043c-1.226 0-3.218.46-4.902 2.3s-6.435 6.287-6.435 15.332 6.588 17.785 7.506 19.013 12.718 20.381 31.405 27.75c15.529 6.124 18.689 4.906 22.061 4.6s10.877-4.447 12.408-8.74 1.532-7.971 1.073-8.74-1.685-1.226-3.525-2.146-10.877-5.367-12.562-5.981-2.91-.919-4.137.921-4.746 5.979-5.819 7.206-2.144 1.381-3.984.462-7.76-2.861-14.784-9.124c-5.465-4.873-9.154-10.891-10.228-12.73s-.114-2.835.808-3.751c.825-.824 1.838-2.147 2.759-3.22s1.224-1.84 1.836-3.065.307-2.301-.153-3.22-4.032-10.011-5.666-13.647"/></svg>
</a>
    </section>
    
    
    <p class="bienvenida" ></p>
  
  <section class="section-categories">
    <ul class="categories" >
      <h3 class="list"><a href="#" style="color:black ;">Categorias</a></h3>
      <li>
          <!-- <i class="fa-solid fa-bars-staggered"></i> -->
          
        <article class="option2 feoXlb">

          
          <ul class="products">
            <li><a class="title" style="color:rgb(191, 247, 60)" href="#">Piscinas</a>
              <ul class="products-sections pisci">
                  <li><a href="#">Bombas para Piscinas</a></li>
                  <li><a href="#">Filtración</a></li>
                  <li><a href="#">Accesorios de Instalación</a></li>
                  <li><a href="#">Decoración y Confort</a></li>
                  <li><a href="#">Iluminación</a></li>
                  <li><a href="#">Mantenimiento yLimpieza</a></li>
                  <li><a href="#">Equipos de Desinfección</a></li>
                  <li><a href="#">Productos Químicos</a></li>
                  <li><a href="#">Climatización de Piscinas</a></li>

              </ul>
            </li>
            </ul>

            <ul class="products">
              <li><a class="title" style="color:rgb(191, 247, 60)" href="#">Hidromasajes</a>
              <ul class="products-sections hidro">
                  <li><a href="#">Bombas Autodrenantes</a></li>

              
            </ul>
            </li>
            </ul>

            <ul class="products">
            <li><a class="title" style="color:rgb(191, 247, 60)"  href="#">Conección de Fluidos</a>
              <ul class="products-sections fluid">
                <li><a href="#">Válvulas Esfericas</a></li>
                <li><a href="#">Válvulas de Retención</a></li>
                <li><a href="#">Codos 90°</a></li>
                <li><a href="#">Codos 45°</a></li>
                <li><a href="#">Curvas 90°</a></li>
                <li><a href="#">Tee 90°</a></li>
                <li><a href="#">Tee Reducción 90°</a></li>
                <li><a href="#">Cuplas</a></li>
                <li><a href="#">Cruces</a></li>
                <li><a href="#">Bujes Reducción(M-H pegar)</a></li>
                <li><a href="#">Manguitos</a></li>
                <li><a href="#">Uniones Dobles(H-H pegar)</a></li>
                <li><a href="#">Uniones Dobles(H-H pegar/roscar)</a></li>
                <li><a href="#">Bujes Reducción(H-M pegar/roscar)</a></li>
                <li><a href="#">Tapones(Hembra pegar)</a></li>
                <li><a href="#">Tapones(Macho pegar)</a></li>
                <li><a href="#">Conectores con Salida Central</a></li>
                <li><a href="#">Conectores con Salida Lateral</a></li>
                <li><a href="#">Tuvos Flexibles PVC</a></li>                

              </ul>
            </li>
            
      </ul>
      </article>
          </ul>
          
          
          
          <!-- <ul class="products">
            <li><a class="title" style="color:green" href="#">Piscinas</a>
              <ul class="products-sections pisci">
                  <li><a href="#">Bombas para Piscinas</a></li>
                  <li><a href="#">Filtración</a></li>
                  <li><a href="#">Accesorios de Instalación</a></li>
                  <li><a href="#">Decoración y Confort</a></li>
                  <li><a href="#">Iluminación</a></li>
                  <li><a href="#">Mantenimiento yLimpieza</a></li>
                  <li><a href="#">Equipos de Desinfección</a></li>
                  <li><a href="#">Productos Químicos</a></li>
                  <li><a href="#">Climatización de Piscinas</a></li>

              </ul>
            </li>
            <li><a class="title" style="color:green" href="#">Hidromasajes</a>
              <ul class="products-sections hidro">
                  <li><a href="#">Bombas Autodrenantes</a></li>

              </ul>
            </li>
            <li><a class="title" style="color:green" href="#">Conección de Fluidos</a>
              <ul class="products-sections fluid">
                <li><a href="#">Válvulas Esfericas</a></li>
                <li><a href="#">Válvulas de Retención</a></li>
                <li><a href="#">Codos 90°</a></li>
                <li><a href="#">Codos 45°</a></li>
                <li><a href="#">Curvas 90°</a></li>
                <li><a href="#">Tee 90°</a></li>
                <li><a href="#">Tee Reducción 90°</a></li>
                <li><a href="#">Cuplas</a></li>
                <li><a href="#">Cruces</a></li>
                <li><a href="#">Bujes Reducción(M-H pegar)</a></li>
                <li><a href="#">Manguitos</a></li>
                <li><a href="#">Uniones Dobles(H-H pegar)</a></li>
                <li><a href="#">Uniones Dobles(H-H pegar/roscar)</a></li>
                <li><a href="#">Bujes Reducción(H-M pegar/roscar)</a></li>
                <li><a href="#">Tapones(Hembra pegar)</a></li>
                <li><a href="#">Tapones(Macho pegar)</a></li>
                <li><a href="#">Conectores con Salida Central</a></li>
                <li><a href="#">Conectores con Salida Lateral</a></li>
                <li><a href="#">Tuvos Flexibles PVC</a></li>                

              </ul>
            </li>

          </ul>

        </li>
      </ul> -->
    </section>



<!-- //carrousel  -->

   
     <!-- <%- include("./partials/carrousel") %> -->
     

     





<section class="productosDestacados">
  <h3>
    <p>Productos Destacados</p>   
</h3>
  <article class="sectionProductosDestacados">

    <section class="unique">

      <img src="img\4_luces_20_watts_rgb.jpg" width="250px" height="150px" alt="img">
      
      <h6>Iluminación Led</h6>
      <article>precio</article>

    </section>

    <section class="unique">
      
      <img src="\img\limpiafondo.jpg" width="250px" height="150px"  alt="img">
     
      <h6>Limpia Fondo</h6>
      <article>precio</article>

    </section>

    <section class="unique">
      
      <img src="\img\pool_inverter.jpg" width="250px" height="150px"  alt="img">
      
      <h6>Pool Inverter</h6>
      <article>precio</article>

    </section>
  </article>

  <article class="sectionProductosDestacados">
    <section  class="unique">
      
      <img src="\img\manguera.jpg" width="250px" height="150px"  alt="img">
     
      <h6>Manguera Flotante</h6>
      <article>precio</article>

    </section>

    <section  class="unique">
      
      <img src="\img\filtroYbomba.png" width="250px" height="150px" alt="img">
      
      <h6>Combo Filtro + Bomba</h6>
      <article>precio</article>

    </section>

    <section  class="unique">
      
      <img src="/img/triple.jpg" width="250px" height="150px"  alt="img">
      <h6>Triple</h6>
      <article>precio</article>

    </section>
    
  </article>
</section>

<article>
  <img class="banner" src="/img/backdrop.jpg" alt="">
</article>


<section class="productosDestacados">
  <h3>
    <p>Productos Recomendados</p>   
</h3>
  <article class="sectionProductosDestacados">

    <section class="unique">

      <img src="img\8Ruedas.jpg" width="250px" height="150px" alt="img">
      
      <h6>8 Ruedas</h6>
      <article>precio</article>

    </section>

    <section class="unique">
      
      <img src="\img\BOMBITA.jpg" width="250px" height="150px"  alt="img">
     
      <h6>Bomba</h6>
      <article>precio</article>

    </section>

    <section class="unique">
      
      <img src="\img\cascada_de_80_cm.jpg" width="250px" height="150px"  alt="img">
      
      <h6>Cascada 80 cm</h6>
      <article>precio</article>

    </section>
  </article>

  <article class="sectionProductosDestacados">
    <section  class="unique">
      
      <img src="\img\kit_5_luces.jpg" width="250px" height="150px"  alt="img">
     
      <h6>Kit 5 luces</h6>
      <article>precio</article>

    </section>

    <section  class="unique">
      
      <img src="\img\kit_de_limpieza8.jpg" width="250px" height="150px" alt="img">
      
      <h6>Kit limpieza</h6>
      <article>precio</article>

    </section>

    <section  class="unique">
      
      <img src="/img/conecciones.png" width="250px" height="150px"  alt="img">
      <h6>Conectores</h6>
      <article>precio</article>

    </section>
    
  </article>
</section>

<%- include("./partials/carrousel") %>
<!-- <article>
  <img class="banner" src="" alt="banner">
</article> -->

    
    <section class="lower-icons">

      <div class="credit">
          <p class="footerIcons"><i class="fa-solid fa-credit-card"></i></p>
          <h4>Pagá con tarjeta o en efectivo</h4>
          
          <p>
          <!-- Con Mercado Liebre Cash, tenés cuotas sin interés o efectivo en puntos de pago. ¡Y siempre es seguro! -->
          </p>
      </div>

      
      <div class="gift">
          <p class="footerIcons"><i class="fa-solid fa-gift"></i></p>
          <h4>Envío gratis desde $ 2.500 </h4>

          <p>
          <!-- Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. -->
          </p>
      </div>

      
      <div class="shield">
          <p class="footerIcons"><i class="fa-solid fa-user-shield"></i></p>
          <h4>Seguridad, de principio a fin</h4>

          <!-- <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> -->
      </div>

     </section>

     <nav class="map" id="map">
       <iframe class="adress" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.0992932452295!2d-58.523501!3d-34.626931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc824d9d3b9f1%3A0x720aee58f35e726b!2sBruselas%20896%2C%20C1408BYH%20CABA!5e0!3m2!1ses-419!2sar!4v1659674309015!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <article class="description">
        <div>
          <h3>
            Contacto
          </h3>
          <p>
            <a href="mailto:fmpiscinas2@gmail.com">fmpiscinas2@gmail.com</a>
            <!-- <form action="" method="get">

              <input type="form" id="contact" placeholder="Dejá tu Consulta">
              <input type="button" value="Enviar"></input>
            </form> -->
          </p>
        </div>

        <div>
          <h3 id="adress">
            Dirección:
          </h3>

          <p>
            Bruselas 896, Capital Federal, CABA.
          </p>
        </div>

        <div>
          <h3>
            Horario Comercial:
          </h3>

          <p>
            de 7:00hs a 19:30hs
          </p>
        </div>
        
      </article>
     </nav>


     <!-- Scripts -->
     
    <script src="/js/localStorage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	  <script src="/js/main.js"></script>
     
     
     
</body>
<!-- <footer> -->
  <%- include("./partials/footer") %>
<!-- </footer> -->
</html>
