<!DOCTYPE html>
<html lang="en">
<!-- <head> -->
  <%- include("./partials/head") %>
<!-- </head> -->
<body>
  <!-- <header> -->
    <!-- </header> -->
    
    <br><br><br>
    <%- include("./partials/about") %>
    <%- include("./partials/header") %>
    
    
    
    <p class="bienvenida" ></p>
  
  <section class="section-categories">
    <ul class="categories" >
      <h3 class="list"><a href="#" style="color:black ;">Categorias</a></h3>
      <li>
          <!-- <i class="fa-solid fa-bars-staggered"></i> -->
          
        <article class="option2 feoXlb">

          
          <ul class="products">
            <li><a class="title" style="color:rgb(191, 247, 60)" href="#">Piscinas</a>
              <ul class="products-sections pisci">
                  <li><a href="#">Bombas para Piscinas</a></li>
                  <li><a href="#">Filtración</a></li>
                  <li><a href="#">Accesorios de Instalación</a></li>
                  <li><a href="#">Decoración y Confort</a></li>
                  <li><a href="#">Iluminación</a></li>
                  <li><a href="#">Mantenimiento yLimpieza</a></li>
                  <li><a href="#">Equipos de Desinfección</a></li>
                  <li><a href="#">Productos Químicos</a></li>
                  <li><a href="#">Climatización de Piscinas</a></li>

              </ul>
            </li>
            </ul>

            <ul class="products">
              <li><a class="title" style="color:rgb(191, 247, 60)" href="#">Hidromasajes</a>
              <ul class="products-sections hidro">
                  <li><a href="#">Bombas Autodrenantes</a></li>

              
            </ul>
            </li>
            </ul>

            <ul class="products">
            <li><a class="title" style="color:rgb(191, 247, 60)"  href="#">Conección de Fluidos</a>
              <ul class="products-sections fluid">
                <li><a href="#">Válvulas Esfericas</a></li>
                <li><a href="#">Válvulas de Retención</a></li>
                <li><a href="#">Codos 90°</a></li>
                <li><a href="#">Codos 45°</a></li>
                <li><a href="#">Curvas 90°</a></li>
                <li><a href="#">Tee 90°</a></li>
                <li><a href="#">Tee Reducción 90°</a></li>
                <li><a href="#">Cuplas</a></li>
                <li><a href="#">Cruces</a></li>
                <li><a href="#">Bujes Reducción(M-H pegar)</a></li>
                <li><a href="#">Manguitos</a></li>
                <li><a href="#">Uniones Dobles(H-H pegar)</a></li>
                <li><a href="#">Uniones Dobles(H-H pegar/roscar)</a></li>
                <li><a href="#">Bujes Reducción(H-M pegar/roscar)</a></li>
                <li><a href="#">Tapones(Hembra pegar)</a></li>
                <li><a href="#">Tapones(Macho pegar)</a></li>
                <li><a href="#">Conectores con Salida Central</a></li>
                <li><a href="#">Conectores con Salida Lateral</a></li>
                <li><a href="#">Tuvos Flexibles PVC</a></li>                

              </ul>
            </li>
            
      </ul>
      </article>
          </ul>
          
          
          
          <!-- <ul class="products">
            <li><a class="title" style="color:green" href="#">Piscinas</a>
              <ul class="products-sections pisci">
                  <li><a href="#">Bombas para Piscinas</a></li>
                  <li><a href="#">Filtración</a></li>
                  <li><a href="#">Accesorios de Instalación</a></li>
                  <li><a href="#">Decoración y Confort</a></li>
                  <li><a href="#">Iluminación</a></li>
                  <li><a href="#">Mantenimiento yLimpieza</a></li>
                  <li><a href="#">Equipos de Desinfección</a></li>
                  <li><a href="#">Productos Químicos</a></li>
                  <li><a href="#">Climatización de Piscinas</a></li>

              </ul>
            </li>
            <li><a class="title" style="color:green" href="#">Hidromasajes</a>
              <ul class="products-sections hidro">
                  <li><a href="#">Bombas Autodrenantes</a></li>

              </ul>
            </li>
            <li><a class="title" style="color:green" href="#">Conección de Fluidos</a>
              <ul class="products-sections fluid">
                <li><a href="#">Válvulas Esfericas</a></li>
                <li><a href="#">Válvulas de Retención</a></li>
                <li><a href="#">Codos 90°</a></li>
                <li><a href="#">Codos 45°</a></li>
                <li><a href="#">Curvas 90°</a></li>
                <li><a href="#">Tee 90°</a></li>
                <li><a href="#">Tee Reducción 90°</a></li>
                <li><a href="#">Cuplas</a></li>
                <li><a href="#">Cruces</a></li>
                <li><a href="#">Bujes Reducción(M-H pegar)</a></li>
                <li><a href="#">Manguitos</a></li>
                <li><a href="#">Uniones Dobles(H-H pegar)</a></li>
                <li><a href="#">Uniones Dobles(H-H pegar/roscar)</a></li>
                <li><a href="#">Bujes Reducción(H-M pegar/roscar)</a></li>
                <li><a href="#">Tapones(Hembra pegar)</a></li>
                <li><a href="#">Tapones(Macho pegar)</a></li>
                <li><a href="#">Conectores con Salida Central</a></li>
                <li><a href="#">Conectores con Salida Lateral</a></li>
                <li><a href="#">Tuvos Flexibles PVC</a></li>                

              </ul>
            </li>

          </ul>

        </li>
      </ul> -->
    </section>



<!-- //carrousel  -->

   
     <!-- <%- include("./partials/carrousel") %> -->
     

     





<section class="productosDestacados">
  <h3>
    <p>Productos Destacados</p>   
</h3>
  <article class="sectionProductosDestacados">

    <section class="unique">

      <img src="img\4_luces_20_watts_rgb.jpg" width="250px" height="150px" alt="img">
      
      <h6>Iluminación Led</h6>
      <article>precio</article>

    </section>

    <section class="unique">
      
      <img src="\img\limpiafondo.jpg" width="250px" height="150px"  alt="img">
     
      <h6>Limpia Fondo</h6>
      <article>precio</article>

    </section>

    <section class="unique">
      
      <img src="\img\pool_inverter.jpg" width="250px" height="150px"  alt="img">
      
      <h6>Pool Inverter</h6>
      <article>precio</article>

    </section>
  </article>

  <article class="sectionProductosDestacados">
    <section  class="unique">
      
      <img src="\img\manguera.jpg" width="250px" height="150px"  alt="img">
     
      <h6>Manguera Flotante</h6>
      <article>precio</article>

    </section>

    <section  class="unique">
      
      <img src="\img\filtroYbomba.png" width="250px" height="150px" alt="img">
      
      <h6>Combo Filtro + Bomba</h6>
      <article>precio</article>

    </section>

    <section  class="unique">
      
      <img src="/img/triple.jpg" width="250px" height="150px"  alt="img">
      <h6>Triple</h6>
      <article>precio</article>

    </section>
    
  </article>
</section>

<article>
  <img class="banner" src="/img/backdrop.jpg" alt="">
</article>


<section class="productosDestacados">
  <h3>
    <p>Productos Recomendados</p>   
</h3>
  <article class="sectionProductosDestacados">

    <section class="unique">

      <img src="img\8Ruedas.jpg" width="250px" height="150px" alt="img">
      
      <h6>8 Ruedas</h6>
      <article>precio</article>

    </section>

    <section class="unique">
      
      <img src="\img\BOMBITA.jpg" width="250px" height="150px"  alt="img">
     
      <h6>Bomba</h6>
      <article>precio</article>

    </section>

    <section class="unique">
      
      <img src="\img\cascada_de_80_cm.jpg" width="250px" height="150px"  alt="img">
      
      <h6>Cascada 80 cm</h6>
      <article>precio</article>

    </section>
  </article>

  <article class="sectionProductosDestacados">
    <section  class="unique">
      
      <img src="\img\kit_5_luces.jpg" width="250px" height="150px"  alt="img">
     
      <h6>Kit 5 luces</h6>
      <article>precio</article>

    </section>

    <section  class="unique">
      
      <img src="\img\kit_de_limpieza8.jpg" width="250px" height="150px" alt="img">
      
      <h6>Kit limpieza</h6>
      <article>precio</article>

    </section>

    <section  class="unique">
      
      <img src="/img/conecciones.png" width="250px" height="150px"  alt="img">
      <h6>Conectores</h6>
      <article>precio</article>

    </section>
    
  </article>
</section>

<%- include("./partials/carrousel") %>
<!-- <article>
  <img class="banner" src="" alt="banner">
</article> -->

    
    <section class="lower-icons">

      <div class="credit">
          <p class="footerIcons"><i class="fa-solid fa-credit-card"></i></p>
          <h4>Pagá con tarjeta o en efectivo</h4>
          
          <p>
          <!-- Con Mercado Liebre Cash, tenés cuotas sin interés o efectivo en puntos de pago. ¡Y siempre es seguro! -->
          </p>
      </div>

      
      <div class="gift">
          <p class="footerIcons"><i class="fa-solid fa-gift"></i></p>
          <h4>Envío gratis desde $ 2.500 </h4>

          <p>
          <!-- Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. -->
          </p>
      </div>

      
      <div class="shield">
          <p class="footerIcons"><i class="fa-solid fa-user-shield"></i></p>
          <h4>Seguridad, de principio a fin</h4>

          <!-- <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> -->
      </div>

     </section>

     <nav class="map" id="map">
       <iframe class="adress" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.0992932452295!2d-58.523501!3d-34.626931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc824d9d3b9f1%3A0x720aee58f35e726b!2sBruselas%20896%2C%20C1408BYH%20CABA!5e0!3m2!1ses-419!2sar!4v1659674309015!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <article class="description">
        <div>
          <h3>
            Contacto
          </h3>
          <p>
            <a href="mailto:fmpiscinas2@gmail.com">fmpiscinas2@gmail.com</a>
            <!-- <form action="" method="get">

              <input type="form" id="contact" placeholder="Dejá tu Consulta">
              <input type="button" value="Enviar"></input>
            </form> -->
          </p>
        </div>

        <div>
          <h3 id="adress">
            Dirección:
          </h3>

          <p>
            Bruselas 896, Capital Federal, CABA.
          </p>
        </div>

        <div>
          <h3>
            Horario Comercial:
          </h3>

          <p>
            de 7:00hs a 19:30hs
          </p>
        </div>
        
      </article>
     </nav>


     <!-- Scripts -->
     
    <script src="/js/localStorage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	  <script src="/js/main.js"></script>
     
     
     
</body>
<!-- <footer> -->
  <%- include("./partials/footer") %>
<!-- </footer> -->
</html>
